apiVersion: apps/v1
kind: Deployment
metadata:
  name: ccc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ccc
  template:
    metadata:
      labels:
        app: ccc
    spec:
      containers:
      - image: okteto.dev/ccc:latest
        name: ccc
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: ProxySite
          value: "mirror.umd.edu"
        - name: Vless_UUID
          value: "26f9f593-4274-463a-9ea3-8c52ab8948ed"
        - name: Vless_Path
          value: "/s233"
        - name: Vmess_UUID
          value: "26f9f593-4274-463a-9ea3-8c52ab8948ed"
        - name: Vmess_Path
          value: "/s244"
        - name: Share_Path
          value: "/share233"
